<%- include('include/header-connect') %>

<form method="post" action="/ajouterOffre">
    <input type="text" name="titre" placeholder="Titre ">
    <input type="text" name="xpRequise" placeholder="Experience requise">
    <input type="text" name="tempDeTravail" placeholder="Temps de travail">
    <input type="text" name="resume" placeholder="Résumé">
    <input type="text" name="salaire" placeholder="Salaire">
    <input type="text" name="ville" placeholder="Ville">
    <input type="text" name="mail" placeholder="Mail">
    <input type="date" name="dateEmission" class="datepicker" placeholder="Date Emission">

    <div class="switch ">
        <h5>Adapté aux handicaps</h5>
        <label>

            Off
            <input type="checkbox" name="handicap">
            <span class="lever"></span>
            On
        </label>
    </div>

    <div class="input-field col s12">
        <select name="niveau">
            <option value="" disabled selected>Niveau d'études</option>
            <%
            for(var i = 0; i<NiveauEtud.length; i++) {%>
            <option value="<%=NiveauEtud[i].id%>"><%=NiveauEtud[i].intitule%></option>
            <%}%>

        </select>
    </div>

    <div class="input-field col s12">
        <select name="contrat">
            <option value="" disabled selected>Contrat</option>
            <%
            for(var i = 0; i<contrat.length; i++) {%>
            <option value="<%=contrat[i].id%>"><%=contrat[i].intitule%></option>
            <%}%>

        </select>
    </div>

    <input type="submit">
</form>

<% contrat.id%> <br>
<%contrat.intitule%>
<%- include('include/footer') %>