<%- include('include/header-connect') %>

<section class="page-title cyan darken-1 white-text">
    <div class="container">
        <div class="row">
            <div class="col s4 m2">
                <div class="center-align">
                    <p><img src="/img/avatar.png" width="110px" height="110px"/></p>
                </div>
            </div>

            <div class="col s8 m6">
                <h3><%= cv.Candidat.prenom %> <%= cv.Candidat.nom %></h3>
                <h5><%= cv.titre %></h5>
            </div>

            <div class="col s12 m2">
                <p class="center-align"><span class="taux">78%</span><br/> de compatibilité</p>
            </div>

            <!------------------------------------------------------------------------------------------->
            <!-- GESTION DES BOUTONS DE VALIDATION DES CHOIX et de MODIFICATION du CV >
            <!------------------------------------------------------------------------------------------->

            <!-- Vérification si l'utilisateur est connecté -->
            <% if(utilisateurConnecte != null){

            /*Vérification si l'utilisateur connecté est l'auteur du CV : si c'est le cas, on fait apparaitre
              un bouton de modification du CV au lieu des boutons de validation*/
            if(cv.Candidat.UtilisateurId === utilisateurConnecte.id){ %>
            <div class="col s6 m2">
                <p class="center-align">

                    <a style="margin-top: 20px;"
                       class="btn-floating btn-large waves-effect waves-light blue-grey darken-1">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                </p>
            </div>

            <!-- si l'utilisateur est un recruteur (différent d'un candidat) on affichage les boutons de validation -->
            <% }else if(utilisateurConnecte.type != "C"){ %>
            <input type="hidden" name="utilisateurSession" value="<%= utilisateurConnecte.id %>">
            <input type="hidden" name="CVId" value="<%= cv.id %>">
            <div class="col s6 m1">
                <p class="center-align">
                    <a href="#selectionOffre" style="margin-top: 20px;"
                       class="btn-floating btn-large waves-effect waves-light blue-grey darken-1 modal-trigger">
                        <i class="large material-icons">thumb_up</i>
                    </a>

                </p>
            </div>

            <div class="col s6 m1">
                <p class="center-align"><a id="btnRefuserCV" style="margin-top: 20px;"
                                           class="btn-floating btn-large waves-effect waves-light white"><i
                                class="large material-icons blue-grey-text text-darken-1">thumb_down</i></a></p>
            </div>
            <% }
            } %>
        </div>
    </div>
</section>

<section class="page-content" id="cv">
    <div class="container">

        <div class="row">
            <div class="col s12 m10 offset-m1">

                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">description</i>Description
                            générale
                        </div>
                        <div class="collapsible-body">
                            <div class="container">
                                <h4>Résumé</h4>

                                <%= cv.resume %>

                                <h4>Compétences</h4>
                                <table>
                                    <tbody>
                                    <% for(var i = 0; i < cv.Competence_CVs.length; i++) { %>
                                    <tr>
                                        <td><%= cv.Competence_CVs[i].intitule %></td>
                                        <td>
                                            <% for(var j = 0; j < 5;j++){
                                            if(j < cv.Competence_CVs[i].niveau){ %>
                                            <i class="material-icons">star</i>
                                            <% }else{ %>
                                            <i class="material-icons">star_border</i>
                                            <% }
                                            } %>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">school</i>Formation</div>
                        <div class="collapsible-body">
                            <div class="container">

                                <% for(var i = 0; i < cv.Formations.length; i++) { %>
                                <div class="row"
                                     style="border-bottom: 1px solid #ddd; padding-bottom: 20px; padding-top: 20px">
                                    <div class="col s12 m2">
                                        <%= cv.Formations[i].annee %>
                                    </div>
                                    <div class="col s12 m10">
                                        <strong><%= cv.Formations[i].intitule_diplome %></strong><br/>
                                        <%= cv.Formations[i].etablissement %> - <%= cv.Formations[i].ville %><br/>
                                        Mention <%= cv.Formations[i].mention %>
                                    </div>
                                </div>

                                <% } %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">work</i>Expériences
                            professionnelles
                        </div>
                        <div class="collapsible-body">
                            <div class="container">

                                <% for(var i = 0; i < cv.Experience_pros.length; i++) { %>
                                <div class="row"
                                     style="border-bottom: 1px solid #ddd; padding-bottom: 20px; padding-top: 20px">
                                    <div class="col s12 m2">
                                        <%- mois[cv.Experience_pros[i].datedebut.getMonth()] + " " + cv.Experience_pros[i].datedebut.getFullYear() + " - " + mois[cv.Experience_pros[i].datefin.getMonth()] + " " + cv.Experience_pros[i].datefin.getFullYear() %>
                                    </div>
                                    <div class="col s12 m10">
                                        <strong><%= cv.Experience_pros[i].poste %></strong><br/>
                                        <%= cv.Experience_pros[i].entreprise %> - <%= cv.Experience_pros[i].ville %>
                                        <br/>
                                        Type de contrat : <%= cv.Experience_pros[i].Contrat_type.intitule %>
                                        <br/><br/>
                                        Mission(s) :
                                        <ul>
                                            <% for(var j = 0; j < cv.Experience_pros[i].Mission_CVs.length; j++) { %>
                                            <li><%= cv.Experience_pros[i].Mission_CVs[j].intitule %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>

                                <% } %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chat</i>Langues</div>
                        <div class="collapsible-body">
                            <div class="container">

                                <table>
                                    <tbody>
                                    <% for(var i = 0; i < cv.Langues.length; i++) { %>
                                    <tr>
                                        <td><%= cv.Langues[i].intitule %></td>
                                        <td>
                                            <% for(var j = 0; j < 5;j++){
                                            if(j < cv.Langues[i].niveau){ %>
                                            <i class="material-icons">star</i>
                                            <% }else{ %>
                                            <i class="material-icons">star_border</i>
                                            <% }
                                            } %>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">public</i>Centres d'intérêt</div>
                        <div class="collapsible-body">
                            <div class="container">

                                <table>
                                    <tbody>
                                    <% for(var i = 0; i < cv.Centre_interets.length; i++) { %>
                                    <tr>
                                        <td><%= cv.Centre_interets[i].intitule %></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>

        <!--<div class="col s12 m3">
            <p><a class="waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">info</i>En savoir plus</a></p>
        </div>-->
    </div>
    </div>


</section>

<!-- Modal Structure -->
<div id="selectionOffre" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Selection d'une offre</h4>

        <p>Veuillez choisir une offre correspondante au CV</p>
        <select name="listeOffresCV">
            <option value="" disabled selected>Choisissez une offre</option>
        <%for(var i=0; i<offreUtilisateurConnecte.length;i++){%>
            <option value="<%=offreUtilisateurConnecte[i].id%>"><%=offreUtilisateurConnecte[i].titre%></option>
        <%}%>
        </select>
    </div>
    <div class="modal-footer">
        <a href="#" id="btnAccepterCV" class=" modal-action modal-close waves-effect waves-green btn-flat">Valider</a>
    </div>
</div>

<%- include('include/footer') %>
<script type="text/javascript" src="/js/cv-event.js"></script>



