<%- include('include/header') %>

<section  class="page-title cyan darken-1 white-text">
    <div class="container">
        <div class="row">
            <div id="logo-title" class="col s3 m1">
                <i class="medium material-icons">perm_identity</i>
            </div>

            <div class="col s9 m8">
                <h3><%=title%></h3>
            </div>
        </div>

    </div>

</section>

<section class="page-content" id="connexion">
    <div class="container">
        <div class="row">
            <form class="col s12 m8 offset-m3" action="/login" method="post">
                <div class="row">
                    <div class="input-field col m8 s12">
                        <input id="email" name="email" type="email" class="validate">
                        <% if (this.email) { %>
                            <label for="email"><%=email%></label>
                        <% } else { %>
                            <label for="email">email</label>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m8 s12">
                        <input id="mdp" name="mdp" type="password" class="validate value=">
                        <% if (this.email) { %>
                            <label for="mdp"><%=mdp%></label>
                        <% } else { %>
                            <label for="mdp">Mot de passe</label>
                        <% } %>
                    </div>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="connexion">Valider
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>
        </div>
    </div>

</section>


<%- include('include/footer') %>
